:root {
  --fontPrimary: 'Poppins', sans-serif;
  --fontBody: 1.6rem / 1.8 var(--fontPrimary);
  --colorPrimary: #6834a6;
  --white: #fff;
  --black: #000000;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font: var(--fontBody);
}
h1,
h2,
h3 {
  font-weight: 900;
  margin-block: 2rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  max-inline-size: 100%;
  display: block;
}
[class$='__container'] {
  max-inline-size: 120rem;
  margin-inline: auto;
  inline-size: 90%;
}
[class$='__heading'] {
  margin-block-end: 5rem;
  text-align: center;
}
@media (min-width: 768px) {
  [class$='__grid'] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;
  }
}

.header {
  background-image: url(../img/header_bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10rem;
  padding-block: 5rem;
}
@media (min-width: 768px) {
  .header {
    background-size: 50rem;
  }
}
@media (min-width: 992px) {
  .header {
    background-size: 60rem;
  }
}
@media (min-width: 1280px) {
  .header {
    background-size: 110rem;
  }
}
@media (min-width: 768px) {
  .header__navigation {
    display: flex;
    justify-content: space-between;
  }
}
.header__logo {
  inline-size: 15rem;
  margin-block: 0 3rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
  .header__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
.header__heading {
  font-size: 3rem;
}
@media (min-width: 768px) {
  .header__heading {
    text-align: start;
    font-size: 5rem;
    line-height: 1.2;
  }
  .header__image {
    max-inline-size: 30rem;
    margin-inline: auto;
  }
}
.header__button {
  display: block;
  padding: 1rem;
  margin-block-end: 4rem;
  background: var(--colorPrimary);
  text-align: center;
  color: var(--white);
}
@media (min-width: 768px) {
  .header__button {
    display: inline-block;
    padding-block: 1.5rem;
    padding-inline: 3rem;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}
.navigation__link {
  color: var(--colorPrimary);
}
@media (min-width: 768px) {
  .navigation__link {
    color: var(--white);
  }
}
.navigation__link--white {
  color: var(--white);
}

.nucleus {
  margin-block-start: 3rem;
}
.nucleus__grid {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .nucleus__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.list__element {
  padding-inline: 2rem;
  padding-block: 2rem;
  margin-block-end: 5rem;
  background: var(--white);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease-in;
}
.list__element:hover {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.03);
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .list__element--2col {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
}
.list__heading {
  margin: 0;
  font-size: 3rem;
  color: var(--colorPrimary);
}
.list__number {
  margin: 0;
  font-size: 6rem;
  font-weight: 900;
  color: var(--colorPrimary);
  text-align: center;
}
@media (min-width: 768px) {
  .list__number {
    flex-basis: 20rem;
    font-size: 4rem;
    text-align: end;
  }
}
.list__text {
  margin: 0;
  font-size: 2rem;
}

.security {
  margin-block: 10rem;
  padding-block: 10rem;
  background: var(--colorPrimary);
  transform: skewY(5deg);
}
.security__container {
  transform: skewY(-5deg);
}
.security__heading {
  color: var(--white);
}

.commissions__text {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .commissions__text {
    text-align: start;
  }
}
.commissions__image {
  align-self: end;
}

.testimonials {
  padding-block: 5rem;
  background: var(--colorPrimary);
}
.testimonials__heading {
  color: var(--white);
}
.testimonials__grid {
  display: grid;
  gap: 4rem;
}

.testimonial {
  position: relative;
  padding-block: 2rem;
  padding-inline: 2rem;
  background: var(--white);
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.03);
}
.testimonial__text::before {
  content: '';
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: url(../img/comilla.png) no-repeat center;
  background-size: 3rem;
  width: 3rem;
  height: 3rem;
}
.testimonial__author {
  text-align: end;
  font-weight: 700;
  color: var(--colorPrimary);
}
.testimonial__author::before {
  content: '- ';
}

.footer {
  padding-block: 3rem;
  background: #5a30a0;
}
.footer__logo {
  inline-size: 20rem;
  margin-block: 0 4rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .footer__logo {
    margin-block: 0;
  }
}
