:root {
  --fontPrimary: 'Poppins', sans-serif;
  --fontBody: 1.6rem / 1.8 var(--fontPrimary);
  --colorPrimary: #6834a6;
  --white: #fff;
  --black: #000000;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font: var(--fontBody);
}
h1,
h2,
h3 {
  font-weight: 900;
  margin-block: 2rem;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4.6rem;
}
h3 {
  font-size: 3rem;
}
a {
  text-decoration: none;
}
img {
  max-inline-size: 100%;
  display: block;
}
.container {
  max-inline-size: 120rem;
  margin-inline: auto;
  inline-size: 90%;
}

.header {
  background-image: url(../img/header_bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 10rem;
  padding-block: 5rem;
}
@media (min-width: 768px) {
  .header {
    background-size: 50rem;
  }
}
@media (min-width: 992px) {
  .header {
    background-size: 60rem;
  }
}
@media (min-width: 1280px) {
  .header {
    background-size: 110rem;
  }
}
.header__container {
  max-inline-size: 120rem;
  margin-inline: auto;
  inline-size: 90%;
}
@media (min-width: 768px) {
  .header__navigation {
    display: flex;
    justify-content: space-between;
  }
}
.header__logo {
  inline-size: 15rem;
  margin-block: 0 3rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }
}
.navigation__link {
  color: var(--colorPrimary);
}
@media (min-width: 768px) {
  .navigation__link {
    color: var(--white);
  }
}
